# Replace the bracketed examples "[Database username]" with their final value "root"

PORT=5500
NODE_ENV=development

SALT_DATA_HASH=[string]
SALT_DATA_PASS=[number]

SECRET_JWT=[string]

MAIL_PORT=[number]
MAIL_HOST=[string]
MAIL_USER=[string]
MAIL_PASS=[string]
MAIL_NAME=[string]
MAIL_FROM=[string]
MAIL_WHITELIST=email_1,email_2,email_3

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=loryblu-api
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
