PORT=5500
NODE_ENV=development

SALT_DATA_HASH=
SALT_DATA_PASS=

SECRET_JWT=

MAIL_PORT=
MAIL_HOST=
MAIL_USER=
MAIL_PASS=
MAIL_NAME=
MAIL_FROM=
MAIL_WHITELIST=

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=loryblu-api
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
